
html, body  {
margin:0;
/*background-image: url('try1.jpg');*/
background-color: #202020  ;  /*black, */
background-size: cover;
font-family: Georgia, serif;
line-height: 1.2em;
}

ul {
position: relative;
top: -55px;
padding: 10px;
list-style-type: none;
float: right;

}

ul li {
margin: 0 10px 10px 0;
padding: 0;
display: inline;
float: left;
}


h1 {
display: inline;
/*   line-height: 1.5em; */
float: left;
}


#container  {
margin:0 auto;
padding: 10px 10px 10px 10px;
width:880px;
background-color: black;
}

#header  {
color: white;
background:black;
height:90px;
overflow: hidden;
}

#logo {
float: left;

}

#content {
clear:both;
text-align: center;
/*background-color: LightGoldenRodYellow ;*/
background-image: url('try1.jpg');
background-size: cover;
height: 500px;
width: 870px;
border-color: beige;
border-style: groove;
border-width: 5px;
overflow: scroll;
}

#about_text { 
text-align: left !important;
text-indent: 1.5em;
top-margin: 10px; 
}

.thumbnail img{
max-width: 150px;
width: 100%;
max-height: 200px;
/*height: auto;*/
display: inline-block;
/*float: center;*/
padding: 20px;
}

#resume_shot {
position: relative;
right: -340px;
top: -170px;
display: float;
}

#stats {
font-size: 21px;
}

table {
margin-top: -210px;
top: -500px;
}

#voice p {
text-align: center;
}

audio {
display: block;
text-align: center;
width:300px;
height:50px;
}


#footer  {
clear: both;
text-align: right;
color: white;
background: black;
height:45px;

}

.floatLeft{
float: left !important;
margin: 5px;

}

h1
{
text-align:center;
color:#FFFFFF;
}

div.transbox
{
width:1100px;
height:2100px;
margin: 50px 40px;
background-color:#1C1C1C;
border:1px solid black;
filter:alpha(opacity=90);
opacity:0.9;
}

div.transbox p
{
margin:10px 20px;
font-weight:bold;
color:#FFFFFF;
}

div.transbox table
{
width:100%;
}

div.transbox th
{
font-weight:bold;
text-align:left;
text-indent:10px;
color:#FFFFFF;
}
h2 { text-align: center; }

th.category {
font-size:21px;
height:50px;
vertical-align:bottom;
border-bottom-style:solid;
border-bottom-color: #202020;
}

td { text-align: left !important }

div.transbox td
{
text-indent:50px;
text-align:left;
color:#FFFFFF;
padding:3px 7px 2px 7px;
}

p.heading
{
font-family:"Times New Roman";
text-align:center;
font-size: 35px;
margin-bottom:0px;
padding-bottom:0px;
}

p.titles
{
font-family:"Times New Roman";
font-size:23px;
font-weight:bold;
text-align:center;
margin-top:0px;
margin-bottom:0px;
padding-top:0px;
padding-bottom:0px;
}


p.link
{
font-family:"Times New Roman";
text-align:left;
margin-left:0px;
}



a:link {text-decoration: none; color: LightGoldenRodYellow;}
a:visited {text-decoration: italics; color: #FFFFFF;}
a:hover {text-decoration:underline; color:#FFFFFF;}
a:active {text-decoration: bold; color:#FFFFFF;}