
html, body  {
margin:0;
/*background-image: url('try1.jpg');
background-color: #202020  ;  /*black, grey, LightGoldenRodYellow?? */
background-image: url('dark_wood.png');
image: cover;
/*background-image: url('crissXcross.png');*/
font-family: Helvetica, sans-serif;
line-height: 1.2em;
font-size: 18px;
}

.logo {
padding: 8px;
display: inline-block;
height: 140px;
width: 410px;
}

ul {
position: relative;
top: -82px;
padding: 10px;
list-style-type: none;
float: right;
}

ul li {
    margin: 0 10px 10px 0;
    padding: 5px;
    float: left;
    font-size: 18px;
}



#container  {
margin:0 auto;
padding: 10px 10px 10px 10px;
width:1000px;
}

#nav ul li.active, #nav ul li:hover {
/*background: #333;*/
}

#header  {
color: white;
background:black;
height:150px;
width:1000px;
overflow: hidden;
}


#content {
margin-top: 20px;  /*170px for fixed header*/
margin-left: 0px;
clear:both;
text-align: center;
/*background-color: LightGoldenRodYellow ;*/
background-image: url('try1.jpg');
background-size: cover;
/*height: 500px;*/
width: 984px;
border-color: white;
border-style: solid;
border-width: 8px;
overflow-y: scroll;
overflow-x: hidden;
}

.single_photo_center {
/*padding: 20px;*/
}

#about_text { 
text-align: left !important;
text-indent: 1.5em;
padding: 30px;
}

.thumbnail img{
max-width: 200px;
width: 100%;
max-height: 270px;
/*height: auto;*/
display: inline-block;
/*float: center;*/
padding: 20px;
}

#resume_shot {
position: relative;
right: -340px;
top: -200px;
display: float;
height: 175px;
width: auto;
overflow: hidden;
}

#stats {
font-size: 21px;
}

table {
margin-top: -220px;
top: -500px;
}



audio {
display: inline-block;
text-align: center;
width:500px;
height:50px;
}


#footer  {
margin-top: 20px;
clear: both;
padding: 0px;
color: LightGoldenRodYellow;
background-color: black;
background-size: cover;
height:200px;
/*background-image: url('try1.jpg');
background-size: cover;*/
font-size: .8em;
}

#footer .floatLeft {
float: left;
margin: -25px 0px 0 0;
width: 27%;
}

#footer .clear {clear:both}

#footer h1,h2,h3 { color:white !important;}

#twitter_update_list {
color: red;
font-size: 50px;
}



.floatLeft{
float: left !important;
padding: 30px;
}

.floatRight{
float: right !important;
padding: 30px;

}

th.category {
font-size:21px;
height:50px;
vertical-align:bottom;
border-bottom-style:solid;
border-bottom-color: #202020;
text-align: center !important;
}

td { text-align: left !important }
th { text-align: left !important }

a:link {text-decoration: none; color: LightGoldenRodYellow;}
a:visited {text-decoration: italics; color: LightGoldenRodYellow;}
a:hover {text-decoration:underline; color: LightGoldenRodYellow;}
a:active {text-decoration: bold; color: LightGoldenRodYellow;}