
html, body  {
margin:0;
/*background-image: url('try1.jpg');*/
background-color: #202020  ;  /*black, grey, LightGoldenRodYellow?? */
background-size: cover;
font-family: Georgia, serif;
line-height: 1.2em;
}

ul {
position: relative;
top: -55px;
padding: 10px;
list-style-type: none;
float: right;
}

ul li {
margin: 0 10px 10px 0;
padding: 0;
display: inline;
float: left;
}

#container  {
margin:0 auto;
padding: 10px 10px 10px 10px;
width:880px;
background-color: black;
}

#header  {
color: white;
background:black;
height:90px;
overflow: hidden;
}


#content {
clear:both;
text-align: center;
/*background-color: LightGoldenRodYellow ;*/
background-image: url('try1.jpg');
background-size: cover;
height: 500px;
width: 870px;
border-color: white;
border-style: groove;
border-width: 8px;
overflow-y: scroll;
overflow-x: hidden;
}

#about_text { 
text-align: left !important;
text-indent: 1.5em;
padding: 10px;
}

.thumbnail img{
max-width: 150px;
width: 100%;
max-height: 200px;
/*height: auto;*/
display: inline-block;
/*float: center;*/
padding: 20px;
}

#resume_shot {
position: relative;
right: -340px;
top: -200px;
display: float;
height: 175px;
width: auto;
overflow: hidden;
}

#stats {
font-size: 21px;
}

table {
margin-top: -220px;
top: -500px;
}



audio {
display: block;
text-align: center;
width:300px;
height:50px;
}


#footer  {
clear: both;
text-align: right;
color: white;
background: black;
height:45px;
/*background-image: url('try1.jpg');
background-size: cover;*/


}

.floatLeft{
float: left !important;
padding: 10px;
}



th.category {
font-size:21px;
height:50px;
vertical-align:bottom;
border-bottom-style:solid;
border-bottom-color: #202020;
text-align: center !important;
}

td { text-align: left !important }
th { text-align: left !important }

a:link {text-decoration: none; color: LightGoldenRodYellow;}
a:visited {text-decoration: italics; color: #FFFFFF;}
a:hover {text-decoration:underline; color:#FFFFFF;}
a:active {text-decoration: bold; color:#FFFFFF;}